.Start{
margin-top: 2%;
margin-left: 30%;
margin-right: 30%;
text-align: center;
font-family: cursive;
}
h2{
    font-weight: 900;
}
.True{
    color: green;
    font-weight: 800;
    font-size: 130%;
}
.False{
    color: red;
    text-decoration: line-through;
    font-weight: 800;
    font-size: 130%;
}
.Control{
    color:#5C13AA;
    font-weight: 800;
    font-size: 130%;
}
.Ramka{
        margin-top: 2%;
        margin-left: 30%;
        margin-right: 30%;
        text-align: center;
        font-family: cursive;
        border: 1px;
        border-color:  black;
        border-style: dashed;
        padding: 30px;
}
.Word{
    border: 1px, black,solid;
    background-color:#FFF2CD ;
    margin-left: 30%;
    margin-right: 30%;
}
.en{
    color: red;
    font-weight: 900;
    font-size: 150%;
}
.btn{
    background-color: #D4E9D4;
    border: 2px,green,solid;
}
li{
    color: red;
}